@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&family=Poppins:wght@100;400&display=swap");
.heading {
  font-weight: 100;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1rem; }
  .heading--main {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fffffb;
    line-height: 0.8; }
    .heading--main span {
      text-transform: lowercase;
      color: #f0a07c;
      font-weight: 400; }
  .heading--sub {
    font-size: 2.1rem; }
  .heading--small {
    font-size: 1.2rem;
    font-weight: normal; }

.text {
  font-size: 1rem;
  margin-bottom: 1rem; }
  .text--cta {
    color: #f0a07c; }
  .text--white {
    color: #fffffb; }
  .text--black {
    color: #3d3b30; }
  .text--primary {
    color: #4a274f; }

.btn,
.btn:hover,
.btn:visited {
  cursor: pointer;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5rem; }

.btn--cta,
.btn--cta:visited,
.btn--cta:link {
  font-weight: 700;
  background-color: #f0a07c; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

html,
body {
  min-height: 100vh;
  height: 100%;
  color: #3d3b30;
  line-height: 1.2;
  font-family: "Poppins", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mulish", sans-serif; }

a {
  text-decoration: none;
  display: inline-block; }

img {
  max-width: 100%; }

ul,
li {
  list-style-type: none; }

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem; }

.main-header {
  background-color: red;
  padding: 0.6rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-color: rgba(255, 255, 251, 0.5); }
  .main-header .container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main-header .logo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 251, 0.8); }
  .main-header .logo--large {
    display: none; }
  .main-header .logo--small {
    display: inline-block;
    position: relative;
    z-index: 1; }
    .main-header .logo--small span {
      font-size: 2rem;
      color: #f0a07c;
      position: relative;
      z-index: -1;
      top: -2px;
      right: -0.5rem; }
  .main-header .btn {
    display: none; }

.main-hero {
  background-image: linear-gradient(to bottom, rgba(61, 59, 48, 0.6) 80%, transparent), url("../images/main-hero-vsmall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding-top: 5rem;
  color: #fffffb; }
  .main-hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.download {
  padding: 4rem 0; }
  .download .container {
    display: flex;
    align-items: center; }
  .download__icons {
    text-align: right; }
  .download__icon {
    padding: 0.8rem 1rem;
    cursor: pointer;
    background-color: #3d3b30;
    font-size: 1rem;
    color: #fffffb;
    border-radius: 3rem;
    box-shadow: 0 2px 2px 3px rgba(61, 59, 48, 0.3); }
    .download__icon:not(:last-of-type) {
      margin-bottom: 0.8rem; }
    .download__icon i {
      color: #f0a07c; }
