@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&family=Poppins:wght@100;400&display=swap");

$cta: #f0a07c;
$primary: #4a274f;
$white: #f4f4f4;
$black: #3d3b30;
$white: #fffffb;

$heading: "Mulish", sans-serif;
$default: "Poppins", sans-serif;

// typography
.heading {
  font-weight: 100;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1rem;

  &--main {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: $white;
    line-height: 0.8;

    span {
      text-transform: lowercase;
      color: $cta;
      font-weight: 400;
    }
  }

  &--sub {
    font-size: 2.1rem;
  }

  &--small {
    font-size: 1.2rem;
    font-weight: normal;
  }
}

.text {
  font-size: 1rem;
  margin-bottom: 1rem;

  &--cta {
    color: $cta;
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--primary {
    color: $primary;
  }
}
// btns
.btn,
.btn:hover,
.btn:visited {
  cursor: pointer;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5rem;
}

.btn--cta,
.btn--cta:visited,
.btn--cta:link {
  font-weight: 700;
  background-color: $cta;
}
