.benefits {
  padding: 5rem 0;
  h2 {
    text-align: center;
    span {
      color: $cta;
    }
  }

  &__wrapper {
    // border: 1px solid red;
    margin: 4rem 0;
  }

  &__benefit {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cta;
    color: $primary;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 4;
    font-size: 2rem;
  }

  &__description {
    width: 75%;
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translate(15%, -25%);

    h4 {
      color: $primary;
      font-weight: bold;
    }
  }

  &__img-box {
    height: 20rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

// slider
.slider {
  padding: 4rem 0;
  background-color: rgba($primary, 0.3);
  h2 {
    text-align: center;
    span {
      text-transform: lowercase;
      color: $primary;
      font-weight: bold;
    }
  }

  &__slide {
    margin-top: 4rem;
    // display: flex;
    background-color: $white;
    padding: 0.8rem;
    border: 1px solid salmon;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    // flex-direction: column;
    // align-items: center;
    // border: 1px solid red;
  }

  &__quote {
    font-size: 1rem;
    float: left;
    // flex: 1;
  }

  &__img {
    flex: 1;
    // float: right;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $cta;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
