.main-hero {
  background-image: linear-gradient(
      to bottom,
      rgba($black, 0.6) 80%,
      transparent
    ),
    url("../images/main-hero-vsmall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding-top: 5rem;
  color: $white;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media("small") {
      align-items: flex-start;
    }
  }

  &__text {
    width: 70%;
    @include media("tablet") {
      // padding: 0 3rem;
    }
  }
}

// download should be moved to another file
.download {
  padding: 4rem 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 13rem;
  }

  &__icons {
    // border: 1px solid;
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }

  &__icon {
    padding: 0.8rem 1rem;
    cursor: pointer;
    background-color: $black;
    font-size: 1rem;
    color: $white;
    border-radius: 3rem;
    box-shadow: 0 3px 3px 3px rgba($black, 0.2);

    i {
      color: $cta;
    }
  }
  h2 {
    text-align: center;
  }
  h2 span {
    color: $cta;
  }
}
