.main-header {
  background-color: red;
  padding: 0.6rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-color: rgba($white, 0.5);
  @include media("tablet") {
    padding: 0.6rem 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("small") {
      justify-content: space-between;
    }
  }

  .logo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($white, 0.8);
  }

  .logo--large {
    display: none;
    @include media("small") {
      display: block;
    }
    span {
      font-size: 2rem;
      color: $cta;
      position: relative;
      z-index: -1;
      top: -2px;
      right: -0.5rem;
    }
  }

  .logo--small {
    display: inline-block;
    position: relative;
    z-index: 1;
    @include media("small") {
      display: none;
    }

    span {
      font-size: 2rem;
      color: $cta;
      position: relative;
      z-index: -1;
      top: -2px;
      right: -0.5rem;
    }
  }

  .btn {
    display: none;
    @include media("small") {
      display: block;
    }
  }
}
