@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&family=Poppins:wght@100;400&display=swap");

$cta: #f0a07c;
$primary: #4a274f;
$white: #f4f4f4;
$black: #3d3b30;
$white: #fffffb;

$heading: "Mulish", sans-serif;
$default: "Poppins", sans-serif;

// typography
.heading {
  font-weight: 100;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1rem;

  &--main {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: $white;
    line-height: 0.8;

    span {
      text-transform: lowercase;
      color: $cta;
      font-weight: 400;
    }
  }

  &--sub {
    font-size: 2.1rem;
  }

  &--small {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
  }
}

.text {
  font-size: 1rem;
  margin-bottom: 1rem;

  &--small {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }

  &--cta {
    color: $cta;
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--primary {
    color: $primary;
  }
}
// btns
.btn {
  cursor: pointer;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5rem;
}

.btn--off {
  border-radius: 0;
  display: inline-block;
  padding: 0;
  padding-bottom: 0.4rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    // transform: scale(0.5);
    transform-origin: left;
    height: 2px;
    background-color: $white;
  }

  &:hover::after {
    animation: animateLine 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }

  i {
    padding-left: 0.5rem;
  }
}

.btn--cta,
.btn--cta:visited,
.btn--cta:link {
  font-weight: 700;
  background-color: $cta;
}

// keyframes
@keyframes animateLine {
  0% {
    width: 40%;
    // transform: scale(0.5);
    // opacity: 0;
  }

  100% {
    // transform: scale(1);
    width: 100%;
    // opacity: 1;
  }
}
